[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pd-utils = "*"
jupyter = "*"

[packages]
sphinx = "*"
sphinx-autobuild = "*"
sphinx-autodoc-typehints = "*"
sphinxcontrib-fulltoc = "*"
sphinx-paramlinks = "*"
twine = "*"
pytest = "*"
exceldriver = "*"
processfiles = "*"
pypiwin32 = "*"
openpyxl = "*"
pandas = "*"
xlrd = "*"

[requires]
python_version = "3.8"
